---
import { site } from "@/data/consts";
import { Code } from "astro:components";
import type { CollectionEntry } from "astro:content";
import ConstrainedImage from "@/components/img/ConstrainedImage.astro";
import Image from "@/components/img/Image.astro";
import { theme } from "@/data/consts";
import { formatDate, getYear } from "@/utils/markupUtils";

type Props = {
  entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props;

const linkUrl = `${site.base}/${entry.collection}/${entry.slug}/`;
---

<div
  class="flex flex-row
   border border-dark-ll rounded overflow-hidden hover:border-dark-d hover:-translate-y-1 shadow-sm hover:shadow transition-transform"
>
  {
    entry.data.thumb && (
      <a href={linkUrl} class="">
        <ConstrainedImage
          src={entry.data.thumb}
          class="w-[12rem] h-full overflow-hidden"
          style="aspect-ratio: unset;"
        />
      </a>
    )
  }
  <a href={linkUrl} class="hover:default-a-no-hover flex-grow">
    <div class="p-4">
      <div class="flex flex-row items-center justify-between gap-4">
        <h2 class="inline-block">{entry.data.title}</h2>
        <span class="italic text-dark-l">{getYear(entry.data.date)}</span>
      </div>
      <div>{entry.data.subtitle}</div>
    </div>
  </a>
</div>
