---
import { site } from "@/data/consts";
import { getExecStdout } from "@/utils/misc";

const buildYear = new Date().getFullYear();

const commitShortHash = await getExecStdout("git rev-parse --short HEAD");
const commitHash = await getExecStdout("git rev-parse HEAD");
---

<footer class="my-2 pb-6 pt-8 text-center contentf">
  <span
    >&copy; {buildYear}
    <a href={site.base}>{site.me.name}</a>
    &middot;
    <a href={`${site.repoUrl}`}>source code</a>
    (commit: <a href={`${site.repoUrl}/commit/${commitShortHash}`}
      >{commitShortHash}</a
    >)
  </span>
</footer>
