---
import { site } from "@/data/consts";
import NavbarLink from "./NavbarLink.astro";
import PZLogo from "./PZLogo.astro";
import Icon from "./Icon.astro";
---

<nav
  role="navigation"
  class="bg-light text-dark
    w-full h-navbar
    fixed z-50"
>
  <div
    class="page-x w-full h-full
        flex flex-row items-center gap-2 justify-between"
  >
    <!-- Logo and text -->
    <div>
      <a
        class="flex-0 flex flex-row gap-2
      justify-start items-center"
        href={`${site.base}/`}
        aria-label="Home"
        ><PZLogo class="h-7" />
        <h2 class="text-2xl font-bold m-0 p-0">{site.me.name}</h2>
      </a>
    </div>
    <!-- Links -->
    <div class="flex-0">
      <ul class="flex flex-row gap-2 justify-end items-center list-none">
        <li>
          <NavbarLink noDescendants={true} href={`${site.base}/`}
            >Home</NavbarLink
          >
        </li>
        <li>
          <NavbarLink href={`${site.base}/projects/`}>Projects</NavbarLink>
        </li>
        <li>
          <NavbarLink href={`${site.base}/articles/`}>Articles</NavbarLink>
        </li>
      </ul>
    </div>
  </div>
</nav>
