---
import { site } from "@/data/consts";
import { Code } from "astro:components";
import type { CollectionEntry } from "astro:content";
import ConstrainedImage from "@/components/img/ConstrainedImage.astro";
import { theme } from "@/data/consts";

type Props = {
  entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props;

const linkUrl = `${site.base}/${entry.collection}/${entry.slug}/`;
---

<div class="flex flex-col bg-r rounded overflow-hidden">
  {
    entry.data.thumb && (
      <a href={linkUrl}>
        <ConstrainedImage
          src={entry.data.thumb}
          width={theme.spacing["page-max-w"] / 2}
          class="image-wrapper-constrained"
        />
      </a>
    )
  }

  <a href={linkUrl}>
    <h2>{entry.data.title}</h2>
  </a>
  <div>{entry.data.subtitle}</div>
</div>

<style>
  .image-wrapper-constrained {
    height: 100px;
    width: 100%;
  }
</style>
