---
import Layout from "@/layouts/Layout.astro";
import { dateSorter } from "@/utils/collectionUtils";
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";

const entries = (await getCollection("projects")).sort(dateSorter);
---

<Layout>
  <h1>Projects</h1>
  <ul>
    {
      entries.map((entry) => (
        <li>
          {/* <img src={entry.data.thumb} alt={entry.data.title} /> */}
          <>
            {entry.data.thumb && (
              <Image
                src={entry.data.thumb}
                alt={entry.data.title}
                width={200}
                height={200}
              />
            )}
          </>
          <a href={`/projects/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
